*test.html
*test.mp3
*.wav
# *.json
# spider data
img_spider/data/*
img_spider/3dimg/*
img_spider/test/*
img_spider/me/*
img_spider/loading/*
img_spider/old-extention-data/*
img_spider/*.json

old/*

# 审核相关
chrome/*
*.pem
*.crx
*.zip

.idea/*